#templatemo_content_wrapper
  #templatemo_sidebar
    .sidebar_box
      %h2 Topics
      %ul.side_menu
        %li
          %a{href: "#"} Phasellus cursus lobortis arcu
        %li
          %a{href: "#"} Etiam sit amet turpis
        %li
          %a{href: "#"} Donec mattis rhoncus mi
        %li
          %a{href: "#"} Fusce quis diam sit amet
        %li
          %a{href: "#"} Mauris in sapien in massa
        %li
          %a{href: "#"} Vestibulum ullamcorper ipsum
        %li
          %a{href: "#"} Suspendisse at pede vel lorem
        %li
          %a{href: "#"} Donec dapibus viverra est
        %li
          %a{href: "#"} Quisque blandit eros et lorem
        %li
          %a{href: "#"} Proin vulputate justo et quam
    .sidebar_box
      %h2 Comments
      .sidebar_box_content
        .news_box
          %h3
            %a{href: "#"} Lorem ipsum dolor sit amet consectetur
          %p Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium porta.
        .news_box
          %h3
            %a{href: "#"} Aenean feugiat mattis est nec egestas
          %p Vivamus tincidunt vehicula est. Vestibulum purus. In hac habitasse platea dictumst.
        .news_box
          %h3
            %a{href: "#"} Pellentesque lacus enim, bibendum id lacinia
          %p Sed pellentesque placerat augue. Mauris pede nisl, placerat nec, lobortis vitae, dictum sed, neque.
        .news_box
          %h3
            %a{href: "#"} Suspendisse ac magna quis est eleifend
          %p In velit urna, convallis id, pharetra in, iaculis sit amet, mi. Praesent consectetur imperdiet mauris.
  #templatemo_content
    .post_section
      %span.top
      %span.bottom
      .post_content
        %h2
          %a{href: "#"} Aliquam lorem ante dapibus
        May 28th, 2048 in
        %a{href: "/", target: "_parent"} Web Design
        by
        %a{href: "/", target: "_parent"} Designer
        =image_tag "templatemo_image_01.jpg"
        %p
          %a{href: "/", target: "_parent"} templatemo.com
          provides a lot of high quality
          %a{href: "/", target: "_parent"} free css templates
          for your personal or commercial websites. All
          %a{href: "", target: "_parent"} website templates
          are absolutely free to download, modify and apply for your websites without any restriction.
        %a.more{href: "#"} Continue reading...
        |
        %a.comment{href: "#"} Comments (124)
    .post_section_bottom
    .post_section
      %span.top
      %span.bottom
      .post_content
        %h2
          %a{href: "#"} Lorem ipsum dolor sit amet
        May 24th, 2048 in
        %a{href: "/", target: "_parent"} Web Template
        by
        %a{href: "/", target: "_parent"} Designer
        =image_tag "templatemo_image_02.jpg"
        %p Ut nec vestibulum odio. Vivamus vitae nibh eu sem malesuada rutrum et sit amet magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem.
        %a{href: "#"} Continue reading...
        |
        %a{href: "#"} Comments (248)
  .cleaner
